<!doctype html>
<html ng-app="produto-web">
  <head>
    <title>Produtos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<script src="https://code.angularjs.org/1.5.9/angular.min.js"></script>
	<script src="./js/app.js"></script>
	
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  
  
  <body>
    <div class="container" style="padding-top: 20px;" ng-controller="produto-controller">
 
        <h1 class="text-center text-muted">Produtos</h1>

        <div class="form-group">
            <label>Nome: </label>
            <input type="text" class="form-control" ng-model="nome" aria-describedby="helpId" placeholder="Nome do produto">
            <br>
            <label>Valor: </label>
            <input type="text" class="form-control" ng-model="valor" aria-describedby="helpId" placeholder="Valor do Produto">
            <br>
            <button ng-click="cadastrar()" class="btn btn-primary">Cadastrar</button>
        </div>

		<p ng-if="listProduto.length < 1">Nenhum produto cadastrado!</p>

        <table class="table" ng-if="listProduto.length > 0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Valor</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in listProduto">
                    <td>{{ x.id }}</td>
                    <td>{{ x.nome }}</td>
                    <td>{{ x.valor }}</td>
                    <td style="width: 180px;">
                        <button ng-click="deletar(x.id)" class="btn btn-danger">Deletar</button>
                        <button ng-click="produtoEdit(x.id)" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Editar</button>
                    </td>
                </tr>
            </tbody>
        </table>
	
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Editar Produto</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		      	<div class="form-group">
		      		<label>ID: {{idEditar}}</label>
		      		<br>
		            <label>Nome: </label>
		            <input type="text" class="form-control" ng-model="nomeEditar" aria-describedby="helpId" placeholder="Nome do produto">
		            <br>
		            <label>Valor: </label>
		            <input type="text" class="form-control" ng-model="valorEditar" aria-describedby="helpId"  placeholder="Valor do Produto">
		        </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
		        <button ng-click="editar(idEditar)" class="btn btn-primary" data-dismiss="modal">Editar</button>
		      </div>
		    </div>
		  </div>
		</div>
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>